<footer>
  <div class="left-margin"></div>

  <div class="content">

    <div class="half">
      <iframe src="https://squadgames.substack.com/embed" width="480"
              height="320" style="border:1px solid #EEE; background:white;"
              frameborder="0" scrolling="no">
      </iframe>
    </div>

    <div class="half">
      <h3>Community</h3>
      <ul>
        <li><a href="https://discord.gg/BuCMZ59">Discord</a></li>
        <li><a href="https://twitter.com/setmatchgames">Twitter</a></li>
        <li><a href="https://twitch.tv/setmatchgames">Twitch</a></li>
      </ul>
      <h3>Learn More</h3>
      <ul>
        <li><a href="/documents/squad-games-platform-paper-v0.0.3.pdf">Whitepaper</a></li>
        <li><a href="https://github.com/SquadGames">GitHub</a></li>
      </ul>
    </div>

  <div class="right-margin"></div>
</footer>
